#bola{
    position: absolute;
    display: flex;
    justify-self: center;
    width: 3vw;
    height: 5vh;
    border-radius: 50%;
    background-image: url(/img/pixil-frame-0\ \(1\).png);
    background-size: cover;
    background-position: center;
}

#tabela, #tabela2{
    position: absolute;
    width: 5vh;
    height: 30vh;

}
#tabela{
    width: 7vw;
    height: 19vh;
    background-image: url(/img/raqueteroxa2.png);
    background-size: cover;
    background-position: center;
    top: 40vh;
    left: 70;
}
#tabela2{
    width: 7vw;
    height: 19vh;  
    background-image: url(/img/raqueteverde.png);
    background-size: cover;
    background-position: center;
    top: 40vh;
    left: 86vw;
}

body{
   background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    max-width: 100%;
}

#container{
    position: relative;
    height: 97vh;
    width: 97vw;
    background-image: url(/img/pixil-frame-0.png);
    background-size: cover;
    background-position: center;
}

#pontoRoxo{
    position: absolute;
    width: 15vw;
    height: 7vh;
    color: rgb(199, 8, 199);
    left: 20vw;
    font-size: 5vh;
    
}

#pontoVerde{
    font-size: 5vh;
    position: absolute;
    left: 60vw;
    width: 15vw;
    height: 7vh;
    color: green;
    
}

#botoes {
    display: none; 
    top: 38vh;
    left: 45vw;
    position: fixed;
    text-align: center;
}



#reiniciar{
    position: absolute;
    font-size: 5vh;
    left: 10vw;
    width: 20vw;
    color: rgb(255, 255, 255);
    height: 0;
    border-radius: 2vh;
    box-shadow: -1vw 4vh 5vw rgb(31, 26, 26);
    text-decoration: none;
    transition: all 0.3s ease; 
}

#voltarMenu:hover {
    transform: scale(1.05); 
    background-color: rgba(255, 255, 255, 0.2); 
    color: #9c1414; 
}

#voltarMenu {
    position: absolute;
    font-size: 5vh;
    right: 5vw;
    width: 20vw;
    color: rgb(255, 255, 255);
    height: 0;
    border-radius: 2vh;
    box-shadow: -1vw 4vh 5vw rgb(31, 26, 26);
    text-decoration: none;
    transition: all 0.3s ease; 
}

#reiniciar:hover {
    transform: scale(1.05); 
    background-color: rgba(255, 255, 255, 0.2); 
    color: #9c1414; 
}